html, body {
    background-color: #6A6DA6;
    color:antiquewhite;
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
h1
{
    font-size: 4em;
}
h2{
    font-family: 'Oswald', sans-serif;
}
a, a:active, a::after{
	text-decoration: none;
	color: antiquewhite;
}

li {
    display: inline-block;
}

i{
    font-size: 3.5em;
    padding: 10px;
}
i:hover
{
    color: #0E1C36;
}
.CTA {
    border: 2px solid #ffffff;  
    padding: 20px;  
    background-color: rgba(255, 255, 255, 0.1);  
    border-radius: 10px;  
}
.CTA hr {
    border: 0;  
    height: 2px;  
    background-color: #ffffff;  
    margin: 10px 0; 
}

/* 
li a {
    fill:antiquewhite;
}
li a:hover 
{
    fill:black;
}
li a:visited
{
    color: antiquewhite;
} */
